////
/// variables
/// @content このファイルには変数を登録していきます。
/// @group variables
/// @author k.naito@coosy.co.jp
////

/// デフォルトのフォントです。
/// @type String
$font-stack:		Helvetica, sans-serif;

/// デフォルトのフォントカラーです。
/// @type String
$primary-color: #333;

/// デフォルトの背景色です。
/// @type String
$primary-bg-color: #fff;
