<nav class="gnav">
	<ul class="gnavList">
		<li class="gnavList__item -shop"><a href="/shop/">来店予約</a></li>
		<li class="gnavList__item -order"><a href="/mens/order/">オーダー</a></li>
		<li class="gnavList__item -galary"><a href="/mens/style/index.html">ギャラリー</a></li>
		<li class="gnavList__item -mypage -act"><a href="/mypage/">マイページ</a></li>
	</ul>
</nav>
