<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=320,user-scalable=no">
<meta name="keywords" content="">
<meta name="description" content="">
<title><%= title ? title : 'Coosy HTML freamwork v1.0.0' %></title>
<link href="./css/main.css" rel="stylesheet"></link>
<script src="./js/test.js"></script>
<html>
<body>
</head>
<body>
	<div id="wrap">
