<%- include('_header.ejs', { title: '' }) %>
<div class="page -index">
	<div class="loadingBox">
		<h1 class="loadingBoxTitle">
			<img src="/img/loading.gif" alt="Now loading...">
		</h1>
		<section class="loadingBoxContent">
			<p class="loadingBoxContent__text">Now loading...</p>
		</section>
	</div>
	<%= appName %>
</div>
<%- include('_footer.ejs') %>
